/* Tailwind layers */

/* Customs for specific html elements -- Add to Base layer (h2,button,section etc) */
@tailwind base;
/* Customs for more complex classes -- Add to components layer (.cart,.badge etc) */
@tailwind components;
/* Customs that tailwind doesn't cover by default -- Add to utilities layer */
@tailwind utilities;

/* *{
  font-family: 'Times New Roman', Times, serif;
} */

@layer base{
  body{
    background-color: theme(colors.mint_cream);
  }
}

@layer components{
  .card{
    width: 200px;
    height: 50px;
    /* Apply directive gives access to multiple tailwind components without needing to write
    all the css declarations */
    @apply flex items-center justify-center;
    border-radius: 20px;
    margin-top: 40px;
    
  }

  .typewritercom{
    font-size: 75px;
    text-align: center;
    color: theme(colors.iris);
    font-family: "Fugaz One";
  }

  .square1:hover{
    background-color: yellow;
  }

  .square2:hover{
    background-color: blue;
  }

  .square3:hover{
    background-color: purple;
  }

  .square4:hover{
    background-color: red;
  }

  .square5:hover{
    background-color: orange;
  }

  .square6:hover{
    background-color: black;
  }

  .square7:hover{
    background-color: theme(colors.dark_spring_green);
  }

  .square8:hover{
    background-color: theme(colors.raspberry);
  }

  .square9:hover{
    background-color: grey;
  }

}